<div class="container mt-5">
        <div class="row">
          <div class="col-md-6">
            <h2>Product {{product.pname}}</h2>
            <!-- Output product info -->
            <form class="form form-bordered" novalidate="novalidate" autocomplete="off">
              <div class="form-group">
                <label for="pname">Product Name</label>
                <input type="text" disabled="disabled" name="pname" id="pname" class="form-control" [ngModel]="product.pname">
              </div>
              <div class="form-group">
                  <label for="description">Product Description</label>
                  <textarea disabled="disabled" name="description" id="description" cols="30" rows="5" class="form-control" [ngModel]="product.description"></textarea>
              </div>
              <div class="form-group">
                  <label for="price">Price</label>
                  <input type="number" disabled="disabled" name="price" id="price" class="form-control" [ngModel]="product.price">
              </div>
              <a href="" routerLink="/products" class="btn btn-secondary float-right">Back</a>
            </form>
          </div>
        </div>
      </div>
      